#######################################################################################################################################
<poster>IPTV Provided by Bayoumi Websolutions</poster>
<fanart>https://dl.dropboxusercontent.com/sh/9if72tm27qnnkt9/UJ2y2pEUG9/SATELLITES12.jpg</fanart>
#######################################################################################################################################
<info>
<message>[COLOR=FF00FF00]Follow me on facebook: fb.com/bayoumidk</message>
<thumbnail></thumbnail>
</info>
<notify>
<new></new>
<message1>IPTV - Always online</message1>
<old></old>
</notify>
#######################################################################################################################################



<name>Danish Channels</name>
<link>https://raw.githubusercontent.com/bayoumi/IPTV/master/channels/dansk.xml</link>
<thumbnail>https://dl.dropboxusercontent.com/sh/9if72tm27qnnkt9/UJ2y2pEUG9/SATELLITES12.jpg</thumbnail>
<date>18/10/14</date>

<name>Turkish Channels</name>
<link>https://raw.githubusercontent.com/bayoumi/IPTV/master/channels/turk.xml</link>
<thumbnail>https://dl.dropboxusercontent.com/sh/9if72tm27qnnkt9/UJ2y2pEUG9/SATELLITES12.jpg</thumbnail>
<date>18/10/14</date>

<name>Back to menu</name>
<link>https://raw.githubusercontent.com/bayoumi/IPTV/master/menu.xml</link>
<thumbnail>https://dl.dropboxusercontent.com/sh/9if72tm27qnnkt9/UJ2y2pEUG9/SATELLITES12.jpg</thumbnail>
<date>18/10/14</date>
